
html, body { 
    height: 100%; 
}

body {
    margin: 0;

}

.dashboard-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.tablestyle{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    }

// table enclosed in grid
    .wrapper{
        
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 63px;
        margin-left: 202px;
        /* margin-right: 63px; */
        width: 1106px;
    }
   



