<!-- table for 5 txns details -->
<div class="wrapper">
    <div class="backgroundimage">

    </div>
    <div class="tablestyle">
        <table class="table table-hover">
            <thead class="text-warning">
                <tr>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount($)</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let txns of transactions">
                    <tr>
                        <td>{{txns.transactionDate}}</td>
                        <td>{{txns.ownerAccountNum}}</td>
                        <td>{{txns.type}}</td>
                        <td>{{txns.category}}</td>
                        <td>{{txns.amount}}</td>
                    </tr>
                </ng-container>

            </tbody>

        </table>
        <div>

            <a class="generatatepdf" href="javascript:void(0);" (click)='getpdf()'>To View Detailed
                Report(Generate PDF)</a>

        </div>
    </div>



</div>