.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(75px, auto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
     justify-items: center;
}

.box{
    width: 70%;
    margin-bottom: 10px;
    text-align: center;
    .navBarBtn{
        display: inline-block;
        width: 17.5%;
    }
}

button{
    border-radius: 10px;
    width: 150px;
    height: 70px;
    border: none;
    background-color: skyblue;
    color: white;
    font-size: larger;
}
